#menu-gento-core-general>a:before {
    content: '';
    -webkit-mask-image: url(img/gento-logo.svg);
    mask-image: url(img/gento-logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
}

#menu-gento-core-general._active>a:before, #menu-gento-core-general:hover>a:before {
    content: '';
    background-color: #1762c7;
    -webkit-mask-image: url(img/gento-logo.svg);
    mask-image: url(img/gento-logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
}